.reactions {
    display: flex;
  }
  
  .reactions.show-emojis {
    display: flex;
  }
  
  .reactions .reaction {
    margin-right: 5px; /* Adjust as needed */
  }
  
  .reactions .react-emoji {
    cursor: pointer;
    margin-right: 5px; /* Adjust as needed */
  }
  .react-emoji:not(.selected) {
    display: none;
  }
  